.card{
    margin-top: 8%;
}

.det{
    color: white;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
  }

.dis-status{
    cursor:auto;
}

.cur{
    cursor: pointer;
}
