<div class="card">
    <div class="row">
  
      <div class="text-center" >
        <!-- Categoria de los productos -->
        <h5 class="fw-bolder col-letras">Productos</h5>
      </div>
  
      @if(products_categories.length == 0){
        <div class="text-center table-empty">
            <h4>No hay productos para mostrar</h4>
        </div>
      }@else {
    
      @for (dtoprod of products_categories; track dtoprod;) {
    
        <div class="col-md-3 mb-5 ret cur">
                         
          <div class="cardd h-100" (click)="showProducts(dtoprod.gtin)">
  
            <img class="card-img-top img-button" src="{{ dtoprod.image !== 'data:image/png;base64,' ? dtoprod.image : 'assets/no-product-image.png'}}"/> 
          
            
            <div class="card-body p-4 ">
                                         
              <div class="text-center" >
                <h5 class="fw-bolder">{{ dtoprod.product }}</h5>
    
                {{ dtoprod.price | currency: 'USD'}}
              </div>
            </div>
    
          </div>
        </div>
      } 
    }
    </div>
    </div>
