.card{
    margin-top: 16%;
}

.ret{
   cursor: pointer;
}

.carousel-del {
    position: absolute;
    top: 10px;  
    right: 10px; 
    z-index: 10; 
}

.col-letras{
    color:rgb(248, 98, 28);
    font-size: 20px; 
    font-weight: bold;
    text-align: center;
}

.col-flechas{
    color:rgb(248, 98, 28);
}

.carousel-control-next-icon{
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0)); 
}

.carousel-control-prev-icon{
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0)); 
}




