<!-- BODY CONTENT  -->

<div class="body-content">

  <div class="card">
    <div class="card-header">
      <h3>Categorías</h3>
    </div>

    <!-- CARD  -->
    <div class="card-body">
      <!-- BOTON NUEVA CATEGORIA  -->
      <div class="botonDer">
        <button type="button" class="btn btn-primary btn-new" (click)="showModalForm()">
          <i class="fa-solid fa-circle-plus"></i> Nueva Categoria
        </button>
      </div>

      <!-- TABLA  -->
      <table class="table table-striped">
        <thead>
          <tr class="table-light">
            <th scope="col">Category_Id</th>
            <th scope="col">Category</th>
            <th scope="col">Tag</th>
            <th scope="col">Status</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          @for (category of categories; track category; ; let i = $index){
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{category.category}} </td>
            <td>{{category.tag}} </td>

            <td>
              <a *ngIf= "category.status == 0" (click)="enableCategory(category.category_id)">
                <div class="td-status td-status-disable">
                  {{"Inactivo"}}
                </div>
              </a>

              <a *ngIf= "category.status == 1" (click)="disableCategory(category.category_id)">
                <div class="td-status td-status-enable">
                  {{"Activo"}}
                </div>
              </a>
            </td>

            <td> 
              <!--Solo si se encuentra activo se puede editar-->
              <a *ngIf= "category.status == 1" (click)="updateCategory(category)">
                <i class="fa-solid fa-pencil"></i>
              </a>
            </td>

          </tr>
          }
        </tbody>
      </table>
    </div>

    <!-- MODAL  -->
    <div class="modal fade" id="modalForm" tabindex="-1" data-bs-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

          <!-- MODAL HEADER  -->
          <div class="modal-header">
            <h5 class="modal-title"> {{categoryUpdate == 0 ? "Agregar" : "Actualizar"}} Categoría</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <!-- FORMULARIO PARA NUEVA CATEGORIA  -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- MODAL BODY  -->
            <div class="modal-body">

              <!-- CATEGORIA  -->
              <div class="mb-3">
                <label for="category" class="form-label"> Categoria <span class="input-required">*</span></label>
                <input type="text" class="form-control" formControlName="category" id="category"
                  placeholder="Nombre de la Categoria" 
                  [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}">

                @if (form.controls['category'].errors && submitted){
                <small class="invalid-feedback">Favor de ingresar un nombre de categoría válido</small>
                }
              </div>

              <!-- TAG  -->
              <div class="mb-3">
                <label for="tag" class="form-label"> Tag <span class="input-required">*</span></label>
                <input type="text" class="form-control" formControlName="tag" id="tag"
                  placeholder="Tag de la categoria" 
                  [ngClass]="{'is-invalid': form.controls['tag'].errors && submitted}">

                @if (form.controls['tag'].errors && submitted){
                <small class="invalid-feedback">Favor de ingresar un tag válido</small>
                }
              </div>

              <!-- MODAL FOOTER-->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-save"> {{categoryUpdate == 0 ? "Agregar" : "Actualizar"}} </button>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="card-footer text-end">
      <small>{{ current_date | date: 'dd/MMM/yyyy, h:mm a' }}</small>
    </div>

  </div>
</div>