.card{
    margin-top: 2%;
}

.col-letras{
    color:rgb(248, 98, 28);
}

.btn-del{
    color:red;
    cursor: pointer;
}

.img-small{
    width: 90px; 
    height: auto; 
    margin-right: 15px;
}

.centered-cell{
    padding-left: 30px; 
}
